<section class="container criar-pensanmentos ff-inter">
    <header class ="header">
        <h2>Add um <br> pensamento novo:</h2>
    </header>
    <form action="">
        <label for="pensamento">Pensamento</label>
        <input type="textarea" class="input" id="pensamento" placeholder="Digite um pensamento">
       
        <label for="autoria">Autoria ou fonte</label>
        <input type="textarea" class="input" id="autoria" placeholder="Digite uma autoria ou fonte">
        
        <label for="modelo">Selecionone o modelo do card</label>
        <div class="conainer-radio">
            <div class="radio-modelo">
                input type="radio";
                id="modelo1";
                value="modelo1"
                name="modelo-card"
            </div>
        </div>

    </form>
</section>